.Leaderboard {

position: center;
left: 0;

margin-left:auto; 
margin-right:auto;

/* height: calc(100vh - 64px - 10px); */
height: auto;
width: calc(50vw);

margin-top: 10vh;
margin-bottom: 5px;

padding-left: 10px;
padding-right: 10px;
overflow: overlay;

background: white;

}

.TableRow {
    font-weight: 'bold'
}

.TableHeader {
    color: red
}

.LeaderboardPosition {
    width: 5vw;
    font-weight: bold
}

.Paper{
    width: '100%';
    margin-top: 10px;
    overflow-X: 'auto';
}