body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
  animation: colorchange 10s infinite; 
  -webkit-animation: colorchange 5s infinite; /* Chrome and Safari */
}
@keyframes colorchange
{
  0%   {background: #a83bcfc7}
  50%  {background: #8337a3}
  100% {background: #a83bcfc7}
}
  
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #a83bcfc7}
  50%  {background: #8337a3}
  100% {background: #a83bcfc7}
}




